@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --main-width: 1100px;
}

html,
body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  overflow-x: hidden;
}

/* /////////   HEADER STYLING   ////////////// */
header {
  max-width: var(--main-width);
  margin: 0 auto;
}
.logo {
  color: #156781 !important;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__right {
  flex-grow: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.social_media {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.social_media .link {
  color: green;
  margin: 0 5px;
}
.social_media .link i {
  transition: 0.4s all ease-in-out;
  font-size: 1.2rem;
}
.social_media .link i:hover {
  transform: scale(1.4);
}

/* ///////////////   MAIN   //////////////// */
.main {
  max-width: var(--main-width);
  margin: 0 auto;
}

/* ///////////////   /////////    HOME SECTION   ///////////// */
.langing__overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images//overlay_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 650px;
  padding-left: 1rem;

  display: flex;
  align-items: center;
}
.langing__overlay .row {
  max-width: 500px;
}
.langing__overlay .row h1 {
  color: #fff;
}

.langing__overlay .row .btn:hover {
  opacity: 0.9;
}
.langing__overlay .row .btn i {
  margin-left: 5px;
}

/* /////////////////// //////////////////  ABOUT  SECTION   ////////////////// */
.about_left h5 {
  color: #1c8b74;
  margin: .3rem 0;
}
.about_left h1 {
}
.firefighter_contente {
  display: flex;
}
.firefighter_contente .icon {
  width: 65px;
  margin-top: auto;
  margin-bottom: auto;
  /* margin-left: auto; */
}
.about_right .btn {
  background: #1c8b74;
  width: 200px;
  color: #fff;
}
.about_right .btn:hover {
  opacity: 0.9;
}
.about_right .btn i {
  margin-left: 5px;
}

/* ////////////  //////  SERVICES SECTION   ////////////// */
.section__services .card {
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  margin: 10px 0;
  padding: 2rem 0.4rem;
}
.section__services .card:hover {
  background: #1c8b74;
}
.section__services .card:hover svg {
  fill: #fff;
}
.section__services .card:hover h5,
.section__services .card:hover p {
  color: #fff;
}
.section__services .card:hover .icon {
  background: #fff;
  color: #1c8b74;
}
.section__services .card .card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}
.section__services .card svg {
  width: 50px;
  height: 50px;
  margin: 0 auto 0.7rem;
  /* fill:  */
}
.section__services .card h5 {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}
.section__services .card p {
  text-align: center;
}
.section__services .card a {
  margin: 0.5rem 0;
  width: 40px;
  height: 40px;
  /* line-height: 40px; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.section__services .card .icon {
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  background: #1c8b74;
  color: #fff;
  border-radius: 50%;
}

/* /////////////////   GALERY   SECTION     ///////////////  */
.section__gallery {
  background: rgb(31, 156, 110);
  background: linear-gradient(
    90deg,
    rgba(31, 156, 110, 1) 30%,
    rgba(21, 103, 129, 1) 70%
  );
  padding-bottom: 10rem !important;
}
.gallery__left {
  background: #4db28a;
  height: 20rem;
  width: 20rem;
  margin: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__left img {
  width: 300px;
}

.gallery__right {
  color: #fff;
}
.gallery__right .content {
  margin-bottom: 1.5rem;
}
.gallery__right .content h5 {
  /* margin-bottom: 10px; */
  font-size: 1rem;
}
.gallery__right .content h4 {
  font-size: 2.4rem;
}
.gallery__right .content p {
  margin-bottom: 10px;
  font-size: 1rem;
  /* font-size: rem; */
}
.gallery__right .box {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin-bottom: 1rem;
}
.gallery__right .box #ac_svg {
  width: 40px;
  height: 40px;
  fill: #fff;
  padding-right: 10px;
}
.gallery__right .box h5 {
  font-size: 1rem;
}
.gallery__right .box p {
  font-size: 01rem;
}

/* ///////////////   SECTION PROJECTS  ////////// */
.section__projects {
  width: 95%;
  margin-left: auto;
  position: relative;
  /* bottom */
  bottom: 7rem;
  background: #fff;
}
.section__projects .box img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.section__projects .box p {
  font-weight: 700;
}
.section__projects .content {
  padding: 1rem;
}
.section__projects .content .sous_title {
  font-size: 1rem;
  color: #1c8b74;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0.1rem;
}
.section__projects .content p {
  font-size: 01rem;
}
.section__projects .content .btn {
  background: #1c8b74;
  max-width: 200px;
  color: #fff;
}
.section__projects .content .btn:hover {
  opacity: 0.9;
}

/* //////////// //////////  SECTION TESTIMONIAL   //////////// */
.section__testimonial {
  background: rgb(31, 156, 110);
  background: linear-gradient(
    90deg,
    rgba(31, 156, 110, 1) 30%,
    rgba(21, 103, 129, 1) 70%
  );
}

.section__testimonial img {
  width: 100%;
  border-radius: 10px;
}
.section__testimonial .content {
  color: #fff;
}
.section__testimonial .content .sous_title {
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 0.1rem;
}
.section__testimonial .content .title {
  text-transform: capitalize;
}
.section__testimonial svg {
  fill: rgba(255, 255, 255, 0.377);
  width: 30px;
  height: 30px;
  transform: scaleX(-1);
}
.section__testimonial .content p {
  font-size: 01rem;
  margin: 0.5rem 0;
}
.carousel_container .carousel-indicators {
  position: relative;
  /* top: 8rem; */
}
.carousel_container img {
  width: 80px !important;
  height: 80px;
  border-radius: 50%;
}
.carousel_container .content_user {
  display: flex;
  flex-direction: column;
}
.carousel_container .content_user h5 {
  margin-bottom: 0;
  font-size: 1rem;
}

/* /////////////////    Footer //////////////  */
.footer {
  max-width: var(--main-width);
  margin: 0 auto;
  background-image: linear-gradient(
      90deg,
      rgba(55, 55, 55, 1) 0%,
      rgba(107, 107, 107, 0.9220063025210083) 77%
    ),
    url("../images/repairman-doing-air-conditioner-service.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}

.footer_info h1,
.footer_link h1,
.footer_service h1,
.footer_contact h1 {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.footer_info p {
  font-size: 1rem;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  color: #111;
}
.footer_info .social_media a {
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.footer_info .social_media a:hover {
  transform: scale(1.2);
}
.footer_info .number span {
  display: block;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}

.footer_link ul {
  display: flex;
  flex-direction: column;
}
.footer_link ul li {
  margin-bottom: 0.4rem;
}

.footer_service ul {
  display: flex;
  flex-direction: column;
}
.footer_service ul li {
  text-transform: capitalize;
  margin-bottom: 0.4rem;
}

.footer_contact ul {
  display: flex;
  flex-direction: column;
}
.footer_contact ul li {
  text-transform: capitalize;
  margin-bottom: 0.4rem;
}

/* /////   Media Query styles */
@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
  .langing__overlay .row {
    max-width:100%;
  }
  .section__projects .box img {
    width: 90%;
    height: 30rem;
    margin-top: 2rem;
  }
  .section__projects .box p {
    font-size: 1.3rem;
  }
  .gallery__left {
    height: 18rem;
    width: 18rem;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 580px) {
  .footer_info,
  .footer_link,
  .footer_service {
    margin-bottom: 1rem;
  }
}

.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
  display: none;
}

.addReadMore.showmorecontent .readMore {
  display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
  font-weight: bold;
  margin-left: 2px;
  color: blue;
  cursor: pointer;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
  display: block;
}


/* ////////////////    Read more styling    ////////////////// */
.read-more__link-wrap {
  color: #fff; 
}
.read-more__link-wrap > * {
  color:#fff;
}
.read-more__link-wrap a {
  color: #fff;
  text-decoration: none;
  padding: .5rem 2rem;
  background: #1c8b74;
  border-radius: .25rem;
}
.read-more__link-wrap a .fa-arrow-right {
  padding-left: 10px;
}





/* /////////////////////   CONTACT US PAGE STYLING   ////////////////// */
.contacT_landing {
  height: 20rem;
  background:  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/contact_bg_img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
  justify-content: center;
}
.contacT_landing h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0;
  font-size: 3rem;
}

.contact_section {
  background: url("../images/maps_bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 12rem;
}
.form_container {
  background: #fff;
  width: 100%;
  padding:3rem 4rem;
}
.form_container h3 {
  text-align: center;
  text-transform: uppercase;
  color: #57606f;
  font-weight: 700;
}
.form_container h3 span {
  display: block;
  color: #1c8b74;
  font-size: 2.5rem;
  letter-spacing:2px
}
.form_container .double_decoration hr {
  width: 100px;
  text-align: center;
  margin: 0 auto;
  height: 2px;
  background: #000;
}
.form_container .double_decoration hr:nth-child(1) {
  position: relative;
  top: 8px;
  left: 10px;
  height: 3px;
}


.form_container .card {
  background: #1c8b74;
  color: #fff;
}
.form_container .card h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing:1px;
  font-weight: 500;
  margin-bottom: 0;
}
.form_container .card .double_decoration hr {
  background: #fff;
}
.form_container .info h5 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0rem;
} 
.form_container .info a {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: .8rem;
  font-weight: 300;
}
.form_container .icon {
  background: #fff;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.form h5 {
  text-transform: uppercase;
  color: #1c8b74;
  font-weight: 700;
}
.form .double_decoration hr {
  text-align: start;
  margin-left: 0;
}
.form input, .form  textarea {
  border: none;
  border-bottom: 1px solid #111;
  outline: none;
  padding-bottom: 6px;
  margin-bottom: 1rem;
  resize: none;
  width: 100%;
}
.form  button {
  background: #1c8b74;
  color: #fff;
}
.form  button:hover {
  opacity: .9;
  color: #fff;
}

.media_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.media_container hr {
  width: 100%;
  height: 2px;
  color: #1c8b74;
}
.media_container .media {
  display: flex;
  margin:0 5px;
  
}
.media_container .media i {
  font-size: 1.4rem;
  padding: 0 5px;
  color: #1c8b74;
  transition: all .3s ease-in-out;
}
.media_container .media i:hover {
  transform: translateY(-10px)
}
@media only screen and (max-width: 768px) {
  
}